
@{
    ViewData["Title"] = "AboutJoel";
}

<h1>Quick Links</h1>
<a href="https://www.qwcomedy.com/">Quick Wits Comedy</a>
<a href="https://baconsale.com/">
    <img src="~\lib\baconsalekate.jpg" alt="BaconSale" />
</a>
